//

body {
  background-color: antiquewhite;
  font-family: Nunito;
  padding: 1.5rem;
  text-align: center;

}

.centertext {
  text-align: center;
}

nav {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: blue;
    }
  }

}

thead {
  font-weight: bold;
}

td {
  padding: 0.2rem;
}

img {
  width: 300px;
}

.nopic {
  width: 150px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

header {
  text-align: center;
}